@import "media";

.nosotros{
    background: linear-gradient(#cd8bcca6, #9966FF,#cd8bcca6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    height: 50vh;

    h3{
        color: white;
        font-size: 4em;
        text-shadow: 4px 4px  #5C43FF;
    }
    
    p{
        text-align: center;
    }
}

.inspiracion{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding: 2em;

    h3{
        font-size: 3em;
    }
    
    ul{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
    }
}

.redes{
    background-image: url(../imagenes/cuadroInstagram.svg);
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 110vw;

    @include tablet{
        width: auto;
        height: 80vw;
    }

    @include desktop{
        width: auto;
        height: 50vw;
        }

    &__titulo{
        font-size: 3em;
        font-weight: 600;
    }

    &__nav{
        &--items{
            background: radial-gradient(#BECEFF, #9966ffab);
            border-radius: 1rem;
            margin: 1rem;
            padding: 1em;
            box-shadow: 1px 1px 8px 1px #5420bd75;
            display: inline-block;
            
            & img{
                width: 5em;
                transition: ease-in-out .3s;
                    &:hover{
                    transform: scale(1.1);
                        }
            }
            &:hover{
                background: radial-gradient(#BECEFF,#b7c9ff,#BECEFF,#fff);
                box-shadow: 2px 3px 8px 2px #5420bd75;
                }
            }
            
        }
}

.mapa{
    margin: 1rem;
}