@import "media";

.nosotros{
    background: linear-gradient(#cd8bcca6, #9966FF,#cd8bcca6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    &__titulo{
        color: white;
        font-size: 4em;
        margin:0;
    }
    &__sub{
        color: white;
        text-shadow: 4px 4px  #5C43FF;
        text-align: center;
        font-size: 2em;
        margin:0;
        @include celular{
            font-size: 2.5em; 
        }
        @include tablet{
            font-size: 3.5em;
        }
        @include desktop{
            font-size: 4em; 
        }
    }
    &__texto{
        text-align: center;
    }
}
.inspiracion{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding: 2em;

    h3{
        font-size: 3em;
    }
    
    ul{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
    }
}
.redes{
    background-image: url(../imagenes/cuadroInstagram.svg);
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 90vh;
    @include tablet{
        width: auto;
        height: 80vw;
    }
    @include desktop{
        width: auto;
        height: 50vw;
    }
    &__titulo{
        font-size: 1.8em;
        font-weight: 700;
        text-align: center;
        @include celular{
            font-size: 3em;
        }
    }
    &__nav{
        display: flex;
        justify-content: center;
        &--items{
            background: radial-gradient(#BECEFF, #a375ff);
            border-radius: 1rem;
            margin: 1rem;
            padding: 1em;
            box-shadow: 1px 1px 8px 1px #5420bd75;
            display: inline-block;
            align-content: center;
            
            & img{
                width: 2.8em;
                transition: ease-in-out .3s;
                @include celular{
                    width: 3em;
                }
                @include tablet{
                    width: 4em;
                }
                @include desktop{
                    width: 5em;
                }
                    &:hover{
                    transform: scale(1.1);
                        }
            }
            &:hover{
                background: radial-gradient(#BECEFF,#b7c9ff,#BECEFF,#fff);
                box-shadow: 2px 3px 8px 2px #5420bd75;
                }
            }
        }
}
.contacto{
    &__titulo{
        font-size: 2em;
        margin-top: 2em;
        @include celular{
            font-size: 3em;
        }
        @include tablet{
            font-size: 3.5em;
        }
        @include desktop{
            font-size: 4em; 
        }

    }
    .form{
        margin: 0;
        &__caja{
            padding: 0.5em;
            margin: 0.5em;
            @include celular{
                padding: 1em;
                margin: 1em;
            }
            @include tablet{
                padding: 1.5em;
                margin: 1.5em;
            }
            @include desktop{
                padding: 2em;
                margin: 2em;
            }
        }
        & textarea{
            @include tablet{
            width: 15em;
            height: 10em;
            }
        }
    }
    .mapa{
        margin: 1rem;
        width: 200px;
        height: 300px;
        overflow: hidden;
        @include celular{
            width: 250px;
            height: 300px;
        }
        @include tablet{
            width: 300px;
            height: 300px;
        }
        @include desktop{
            width: 400px;
            height: 400px;
        }
    }

}