@import "./media";
@import "./animaciones";

body {
    background-color: $lila;
    font-family: 'Josefin Sans', 'urbanist';
}

li {
    list-style: none;
}

h2 {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}
  
h3 {
    color: $azulSombra;
    font-size: 2em;
    text-shadow: 2px 2px  white;
}
  
h4, h5, p {
    color: white;
    font-family: 'Poppins';
}


.banner{
    overflow: hidden;
    &__texto{
        position: relative;
        bottom: 25em;
        margin-right: 1em;
        @include celularSmall{
            bottom: 35em;
        }
        @include celular{
            bottom: 55em;
        }
        @include tablet{
            bottom: 20em;
        }
        @include desktop{
            bottom: 25em;
        }
        @include desktopLarge{
            bottom: 35em;
        }
        .grid{
            display: grid;
            justify-content: flex-end;
            align-content: center;
            
            grid-template-areas:"a1"
                                "a2"
                                "a3";
        }
        &--titulo{
            font-family: 'Aclonica';
            text-align: right;
            color: white;
            font-size: 3em;
            text-shadow: 3px 3px #5c43ffa1;
            @include celularSmall{
                font-size: 4em;
                top: 2.5em;
                right:1rem; 
            }
            @include celular{
                font-size: 5.8em;
                text-shadow: 4px 4px #5c43ffa1;
                top: 2em;
                right:1rem;  
            }
            @include tablet{
                font-size: 6em;
                text-shadow: 5px 5px #5c43ffa1;
                top: 2em;
                right:1rem;  
            }
            @include desktop{
                font-size: 8em;
                text-shadow: 6px 6px #5c43ffa1;
                top: 2em;
                right: 1rem;
            }
        }
        h2{
            color: $violeta;
            font-weight: bolder;
            font-size: 1.5rem;
            text-shadow: 2px 2px #ffffff;
            text-align: right;
            @include celularSmall{
                font-size: 2em;
                top: 8em;
                right:1rem; 
            }

            @include celular{
                font-size: 3em;
                top: 7em;
                right: 2rem;  
            }

            @include tablet{
                font-size: 1.3rem;
                top: 14.5em;
                right: 2rem;  
            }

            @include desktop{
                font-size: 2rem;
                top: 13em;
                right: 2rem;   
            }
        }
        p {
            text-align: right;
            color: white;
            font-size: 1em;
           /* position: absolute;
            top: 20em;
            right: 2em;*/
            letter-spacing: 0.1rem;
            @include celularSmall{
                font-size: 1.5em;
                top: 13em;
                right:1rem; 
            }
            @include celular{
                font-size: 2em;
                top: 14em;
                right: 2rem;  
            }
            @include tablet{
                font-size: 1.3em;
                top: 16em;
                right: 2rem;  
            }
            @include desktop{
                font-size: 1.5em;
                font-weight: 300;
                top: 20em;
                right: 2em;
            }
        }
    }
    & img {
        margin: auto;
        max-width: 100vw;
        overflow: hidden;
    }
}

.row{
    margin: 0;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.serviciosHome{
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    
    &__serv{
        padding: 1em;
        display: flex;
        text-align: center;
        overflow: hidden;
        position: relative;
            @include desktop{
            padding: 0;    
     }
        &--titulo{
            color: white;
            font-size: 3rem;
            text-shadow: 3px 3px rgba(68, 71, 235, 0.692);
            position: relative;
            top: 3em;
            font-weight: bolder;
        }

        &--link{
            text-decoration: none;
            width: auto;
            position: relative;
            & .overlay{
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #ffffff48;
            }
                &:hover{
                 transform: scale(1.10);
                 transition: ease-in-out .4s;
                }
                &:hover .overlay{
                    transition: ease-in-out .4s;
                    display: none;
                   }
            }
        }
}

.atencionHome{
    margin-bottom: 2em;
    &__item{
    background: linear-gradient($gradientFondo);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1.5em;
    border-end-start-radius: 0;
    padding: 1em;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 0.5em;
    @include celular{
        font-size: 1em;
    }
    & p{
        margin: 0;
    }
}
img{
    height: 5em;
    @include tablet{
        height: 4em
    }
}
}

.conocenosHome{
    background-image: url(.././imagenes/fondoTarjetas.png);
    background-color: rgba(153, 125, 253, 0.452);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    display: flex;
    align-items:flex-start;
    justify-content: flex-end;
    flex-direction: column;
    height: 50vh;
    @include celular{
        height: 60vh;
    }
    @include tablet{
        height: 75vh;
    }
    &__caja{
        background-color: #b683fafb;
        padding: 1em;
        text-align: end;
        border-start-end-radius: 2.5em;
        transition: ease-in-out .3s;
        &:hover{
            color: white;
            background-color: #b175ff;
            transform: translateX(20px);
        }
        @include tablet{
            padding: 2em;
        }
        &--link{
            color: white;
            padding: 1em;
            text-decoration: none;
            & .fas{
                color: white;
            }
            & h2 {
                font-size: 2em;
                text-align: end;
                @include tablet{
                    font-size: 3em;
                }
            }
            & h5 {
                font-size: 1em;
                font-weight: 300;
            }
            & p {
                font-weight: 300;
            }
        }
    }       
}

.review{
    overflow: hidden;
    padding: 0;
    &__titulo{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        margin: 2em;
        @include tablet{
            font-size: 1.5em;
            margin: 0em;
            }
        & h3{
            font-weight: 700;
        }
    }
    &__cuadros{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--texto{
            background-image: url(.././imagenes/gradiente.png);
            margin: 1em;
            border: solid 2px white;
            border-radius: 1.5em;
            border-end-start-radius: 0;
            text-align: center;
            & p {
                color: #ffffff;
            }
            & span{
                font-size: 2em;
                color: #5c43ffa1;
                @include desktop{
                    font-size: 4em;
                }
            }
        }
    }
}

.piePagina{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #b48fff;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    &__logo{
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-content: center;
        img {
            width: 6em;
            @include tablet{
                width: 5em;
            }
        } 
    }
    &__newsletter{
        font-family: 'Josefin Sans', 'urbanist';
        font-weight: 300;
        background-color: rgba(68, 71, 235, 0.5);
        box-sizing: content-box;
        margin: 1em;
        display: flex;
        align-items: center;
        justify-content:center;
        border-radius: 1.5em;
        border-end-start-radius: 0;
        border-start-end-radius: 0;
        &--form{
            display: flex;
            justify-content: center;
            align-items: center;
            color: whitesmoke;
            & .botonNav{
                width: auto;
                height: 3em;
                font-weight: 400;
                margin: 1em;
                border: none;
                background-color: $azulSombra;
                font-size: 0.8rem;
                border-radius: 2em;
                border-end-start-radius: 0;
                &:hover{
                    color: rgb(75, 75, 255);

                }
            }
            & ::placeholder {
                font-weight:300;
                color: rgb(75, 75, 255);
              }
        }
    }
    &__nav{
        padding: 0.5em;
        margin: 0;
        border-bottom: solid white 1px;
            &--items{
                text-align: center;
                font-size: 1.5em;
                padding: 0;
                    @include celular{
                        font-size: 1.3em;
                        display: flex;
                        flex-wrap: nowrap;
                    }
                li{
                    transition: ease-in-out .3s;
                    &:hover{
                        color: $violeta;
                        transform: scale(1.01) translateY(-3px);
                    }
                    a {
                        font-size: 0.8em;
                        text-decoration: none;
                        color: white;
                        margin: 1.5em;
                            &:hover{
                                border-bottom: 2px solid white;
                            }
                            @include desktop{
                                font-size: 1em;
                                }
                          }
                  } 
            }
    }
    &__redes{
            display: flex;
            padding: 0;
            margin: 0;
            &--items {
                padding: 0;
                margin: 0;
                display: flex;
                overflow-x: hidden;
                overflow-y: hidden;
                img{
                    height: 2em;
                    width: auto;
                }
                li{
                margin: 1em;
                transition: ease-in-out .3s;
                &:hover{
                   transform: scale(1.2) translateY(-5px);
                        }
                }
               }
            .far, .fab {
                color: white;
                font-weight: 100px;
            }
    }       
    &__coder{
        font-size: 0.5em;
        & p {
            margin: 0;
        }
        @include tablet{
            font-size: 0.8em;
        }
    }
}