
header {
    background-color: #b48fff;
    position: relative;
    overflow: hidden;

    & .navbar{
     
      li {
        margin: 1em;
        font-size: 1.2em;
        transition: ease-in-out .3s;
          &:hover{
              transform: scale(1.01) translateY(-3px);
                  }
        & a {
          color: white;
          padding: 1rem;
          text-decoration: none;
          transition: ease-in-out .3s;
    
          &:hover{
            border-bottom: 1px solid white;
          }
    }
      }
      img {
        height: 6em;
        padding: 1em;
      }
      & .collapse{
        flex-grow: 0;
      }
    }
}

header .navbar.bg-light {
      --bs-bg-opacity: 0;
}