@import "./media";
.servicios{

    &__item{
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 3px 3px #702ff146;
        color: white;
        background-color: #c7c0fdd0 /*#ccccff*/;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1em;
        ul{
            margin: 1em;
            }
        img{
        max-width: 60%;
        border: solid 1px rgba(255, 255, 255, 0.829);
        margin-top: 1em;
        }
    }
}