@import "./media";
.form{
    &__titulo{
        font-size: 2em;
        text-align: center;
        margin-top: 1em;
    }
}
.preguntas{
    margin: 1em;
    @include tablet{
        margin: 2.5em;
    }
    @include desktop{
        margin: 6em;
    }
    &__titulo{
        text-shadow: 3px 2px $azulSombra;
    }
    &__item{
        text-align: center;
        background-color: #c7c0fde3;
        color: white;
        h3 {
            font-size: 1.5em;
            @include celular{
                font-size: 2em;
            }
        }
    }
    & .links{
        & a{
            & .fab, .fas {
                margin:1em;
                padding: 0.5rem;
                transform: scale(1.5);
                color: white;
                text-decoration: none;
                transition: ease-in-out .3s;
                border: solid 1px white;
                border-radius: 2em;
                &:hover{
                    background-color: white;
                    border-radius: 2em;
                    color: $azulSombra;
                    transform: scale(1.8);
                }
        }
        
        }
    }
    & .iconos{
        & .fab, .fas {
                padding: 0.5rem;
                margin:0.3em;
                transform: scale(2);
                color: white;
                text-decoration: none;
                transition: ease-in-out .3s;
        }
    }
}
.preguntasBorde{
    border-top: solid 2px white;
    padding-top: 1rem;
}
.accordion-button{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #702ff1a2;
}