@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #9966ff93;
  position: static;
  top: 0rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar img {
  height: 6em;
  padding: 1em;
}

header .navbar.bg-light {
  --bs-bg-opacity: 0;
}

header .navbar li {
  margin: 1em;
  font-size: 1.2em;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

header .navbar li:hover {
  -webkit-transform: scale(1.1) translateY(-3px);
          transform: scale(1.1) translateY(-3px);
}

header .navbar a {
  color: white;
  padding: 1rem;
  border-radius: 1em;
  text-decoration: none;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

header .navbar a:hover {
  text-shadow: 3px 3px 2px #7748cf;
}

/*-----Rotacion del logo HEADER --------------------------*/
.logoHeaderAnim {
  border-radius: 4em;
  -webkit-animation: logoHeaderAnim 1.5s steps(12, end) infinite both;
  animation: logoHeaderAnim 1.5s steps(12, end) infinite both;
}

@-webkit-keyframes logoHeaderAnim {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes logoHeaderAnim {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

/*------Flip logos chicos----------*/
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

/*--------- Zoom Out Imagenes-----------*/
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s ease-in-out both;
  animation: scale-up-center 0.4s ease-in-out both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*-----Rotacion del logo HEADER --------------------------*/
.logoHeaderAnim {
  border-radius: 4em;
  -webkit-animation: logoHeaderAnim 1.5s steps(12, end) infinite both;
  animation: logoHeaderAnim 1.5s steps(12, end) infinite both;
}

@-webkit-keyframes logoHeaderAnim {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes logoHeaderAnim {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

/*------Flip logos chicos----------*/
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

/*--------- Zoom Out Imagenes-----------*/
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s ease-in-out both;
  animation: scale-up-center 0.4s ease-in-out both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

body {
  background-color: #e6ccff;
  font-family: 'Josefin Sans', 'urbanist';
}

li {
  list-style: none;
}

h2 {
  color: white;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
}

h3 {
  color: #5C43FF;
  font-size: 2em;
  text-shadow: 2px 2px  white;
}

h4, p {
  color: white;
  font-family: 'Poppins';
}

.banner {
  background-color: #5c43ff69;
  overflow: hidden;
}

.banner__texto--titulo {
  font-family: 'Aclonica';
  text-align: center;
  color: white;
  font-size: 3em;
  text-shadow: 3px 3px #5c43ffa1;
  position: absolute;
  top: 3.5em;
  right: 1rem;
}

@media only screen and (min-width: 576px) {
  .banner__texto--titulo {
    font-size: 5.8em;
    text-shadow: 4px 4px #5c43ffa1;
    top: 2em;
    right: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .banner__texto--titulo {
    font-size: 6em;
    text-shadow: 5px 5px #5c43ffa1;
    top: 2em;
    right: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .banner__texto--titulo {
    font-size: 8em;
    text-shadow: 6px 6px #5c43ffa1;
    top: 2em;
    right: 1rem;
  }
}

.banner__texto h2 {
  position: absolute;
  top: 9em;
  right: 2rem;
  color: #7748cf;
  font-weight: bolder;
  font-size: 1.5rem;
  text-shadow: 2px 2px #ffffff;
}

@media only screen and (min-width: 576px) {
  .banner__texto h2 {
    font-size: 3em;
    top: 7em;
    right: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .banner__texto h2 {
    font-size: 1.3rem;
    top: 14.5em;
    right: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .banner__texto h2 {
    font-size: 2rem;
    top: 13em;
    right: 2rem;
  }
}

.banner__texto p {
  text-align: right;
  color: white;
  font-size: 0.8em;
  position: absolute;
  top: 20em;
  right: 2em;
  text-shadow: 2px 2px 5px #777777;
}

@media only screen and (min-width: 576px) {
  .banner__texto p {
    font-size: 1.2em;
    top: 21em;
    right: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .banner__texto p {
    font-size: 1.3em;
    top: 16em;
    right: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .banner__texto p {
    font-size: 1.5em;
    font-weight: 300;
    top: 20em;
    right: 2em;
  }
}

.banner img {
  margin: auto;
  max-width: 100vw;
  overflow: hidden;
}

.row {
  margin: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  top: 2em;
}

.logos__titulo {
  padding-left: 2em;
  width: 80vw;
  height: auto;
}

@media only screen and (min-width: 576px) {
  .logos__titulo {
    width: 30em;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .logos__titulo {
    width: 30em;
    height: auto;
  }
}

.sticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  top: 2.5em;
  right: 1em;
}

@media only screen and (min-width: 768px) {
  .sticker {
    top: -5em;
    right: 3em;
  }
}

.sticker__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.sticker__boton:hover {
  -webkit-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
}

.sticker__boton img {
  width: 6em;
}

@media only screen and (min-width: 576px) {
  .sticker__boton img {
    width: 8em;
  }
}

@media only screen and (min-width: 768px) {
  .sticker__boton img {
    width: 10em;
  }
}

.serviciosHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}

.serviciosHome__serv {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .serviciosHome__serv {
    padding: 0;
  }
}

.serviciosHome__serv--titulo {
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px rgba(68, 71, 235, 0.692);
  position: relative;
  top: 3em;
  font-weight: bolder;
}

.serviciosHome__serv--link {
  text-decoration: none;
  width: auto;
  position: relative;
}

.serviciosHome__serv--link .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff48;
}

.serviciosHome__serv--link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

.serviciosHome__serv--link:hover .overlay {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  display: none;
}

.conocenosHome {
  background: -webkit-gradient(linear, left top, left bottom, from(#CD8BCC), to(#9966FF));
  background: linear-gradient(#CD8BCC, #9966FF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
}

.conocenosHome__titulo {
  color: white;
  font-size: 2em;
  text-shadow: 3px 3px #9966FF;
}

@media only screen and (min-width: 576px) {
  .conocenosHome__titulo {
    font-size: 3em;
  }
}

.conocenosHome__boton {
  color: white;
  padding: 1em;
}

.conocenosHome__boton:hover {
  color: #9E60B3;
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 1em;
}

.atencionHome {
  background: -webkit-gradient(linear, left top, left bottom, from(#CD8BCC), to(#9966FF));
  background: linear-gradient(#CD8BCC, #9966FF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
}

.atencionHome__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.atencionHome__lista--link {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review {
  overflow: hidden;
  padding: 0;
}

.review__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
}

@media only screen and (min-width: 768px) {
  .review__titulo {
    font-size: 2em;
  }
}

.review__cuadros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review img {
  width: 60vw;
}

@media only screen and (min-width: 576px) {
  .review img {
    width: 50vw;
  }
}

@media only screen and (min-width: 768px) {
  .review img {
    width: 40vw;
  }
}

@media only screen and (min-width: 992px) {
  .review img {
    width: 25vw;
  }
}

.piePagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #9966ff93;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.piePagina__logo {
  margin: 1rem;
}

.piePagina__logo img {
  width: 5em;
}

.piePagina__nav {
  padding: 0.5em;
  margin: 0;
  border-bottom: solid white 1px;
}

.piePagina__nav--items {
  text-align: center;
  font-size: 1.3em;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .piePagina__nav--items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.piePagina__nav--items li {
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.piePagina__nav--items li:hover {
  color: #7748cf;
  -webkit-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
}

.piePagina__nav--items li a {
  font-size: 0.8em;
  text-decoration: none;
  color: white;
  padding: 1.5em;
}

.piePagina__nav--items li a:hover {
  color: #9966FF;
}

@media only screen and (min-width: 992px) {
  .piePagina__nav--items li a {
    font-size: 1em;
  }
}

.piePagina__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.piePagina__redes--items {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.piePagina__redes--items img {
  height: 2em;
  width: auto;
}

.piePagina__redes--items li {
  margin: 1em;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.piePagina__redes--items li:hover {
  -webkit-transform: scale(1.2) translateY(-5px);
          transform: scale(1.2) translateY(-5px);
}

.piePagina__redes .far, .piePagina__redes .fab {
  color: white;
  font-weight: 100px;
}

.piePagina__coder {
  font-size: 0.5em;
}

@media only screen and (min-width: 768px) {
  .piePagina__coder {
    font-size: 0.8em;
  }
}

.servicios__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 4px 4px #702ff146;
          box-shadow: 4px 4px #702ff146;
  color: rgba(223, 24, 24, 0.575);
  background-color: #c7c0fdd0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.servicios__item:hover {
  background-color: #b4aaffd0;
  -webkit-box-shadow: 4px 4px #702ff17a;
          box-shadow: 4px 4px #702ff17a;
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}

.servicios__item--titulo {
  font-size: 1.5em;
  margin-top: 1rem;
}

@media only screen and (min-width: 576px) {
  .servicios__item--titulo {
    font-size: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .servicios__item--titulo {
    font-size: 2.3em;
  }
}

@media only screen and (min-width: 992px) {
  .servicios__item--titulo {
    font-size: 2.6em;
  }
}

.servicios__item img {
  max-width: 60%;
  border: solid 2px rgba(255, 255, 255, 0.829);
  margin-top: 1em;
}

.servicios__item .fas {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.modal img {
  width: 100%;
}

.modal .modal-footer a {
  text-decoration: none;
  color: white;
}

.card-text {
  color: #5C43FF;
  font-family: 'Poppins', sans-serif;
}

.card-text .fas, .card-text .fab {
  margin: 0.5rem;
}

.btn-primary {
  background-color: #5C43FF;
  border-color: #543de7;
}

.btn-secondary {
  background-color: #a5a5a5;
  border: none;
}

.promociones img {
  width: 60vw;
}

@media only screen and (min-width: 576px) {
  .promociones img {
    width: 40vw;
  }
}

@media only screen and (min-width: 992px) {
  .promociones img {
    width: 25vw;
  }
}

.promociones__items {
  background-color: #BECEFF;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 2em;
  -webkit-box-shadow: 5px 5px 5px #00000028;
          box-shadow: 5px 5px 5px #00000028;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.promociones__items:hover {
  background-color: #a0a9ffe3;
  -webkit-transform: scale(1.2) translateY(-5px);
          transform: scale(1.2) translateY(-5px);
}

@media only screen and (min-width: 576px) {
  .promociones__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form__titulo {
  font-size: 2em;
  text-align: center;
  margin-top: 1em;
}

.preguntas {
  margin: 1em;
}

@media only screen and (min-width: 768px) {
  .preguntas {
    margin: 2.5em;
  }
}

@media only screen and (min-width: 992px) {
  .preguntas {
    margin: 6em;
  }
}

.preguntas__titulo {
  text-shadow: 3px 2px #5C43FF;
}

.preguntas__item {
  text-align: center;
  background-color: #c7c0fde3;
  color: white;
}

.preguntas__item h3 {
  font-size: 1.5em;
}

@media only screen and (min-width: 576px) {
  .preguntas__item h3 {
    font-size: 2em;
  }
}

.preguntas .links a .fab, .preguntas .links a .fas {
  margin: 1em;
  padding: 0.5rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: white;
  text-decoration: none;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  border: solid 1px white;
  border-radius: 2em;
}

.preguntas .links a .fab:hover, .preguntas .links a .fas:hover {
  background-color: white;
  border-radius: 2em;
  color: #5C43FF;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.preguntas .iconos .fab, .preguntas .iconos .fas {
  padding: 0.5rem;
  margin: 0.3em;
  -webkit-transform: scale(2);
          transform: scale(2);
  color: white;
  text-decoration: none;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.preguntasBorde {
  border-top: solid 2px white;
  padding-top: 1rem;
}

.accordion-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #702ff1a2;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  border-bottom: solid 3px white;
}

.nosotros__titulo {
  color: white;
  text-shadow: 3px 3px #a375ff;
  font-size: 4em;
  margin: 0;
}

.nosotros__sub {
  color: white;
  text-shadow: 4px 4px  #5C43FF;
  text-align: center;
  font-size: 2em;
  margin: 0;
}

@media only screen and (min-width: 576px) {
  .nosotros__sub {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 768px) {
  .nosotros__sub {
    font-size: 3.5em;
  }
}

@media only screen and (min-width: 992px) {
  .nosotros__sub {
    font-size: 4em;
  }
}

.nosotros__texto {
  text-align: center;
}

.nosotros img {
  width: 80%;
}

.inspiracion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.inspiracion h3 {
  font-size: 3em;
}

.inspiracion ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.redes {
  background-image: url(../imagenes/cuadroInstagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 90vh;
}

@media only screen and (min-width: 768px) {
  .redes {
    width: auto;
    height: 80vw;
  }
}

@media only screen and (min-width: 992px) {
  .redes {
    width: auto;
    height: 50vw;
  }
}

.redes__titulo {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width: 576px) {
  .redes__titulo {
    font-size: 3em;
  }
}

.redes__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redes__nav--items {
  background: radial-gradient(#BECEFF, #a375ff);
  border-radius: 1rem;
  margin: 1rem;
  padding: 1em;
  -webkit-box-shadow: 1px 1px 8px 1px #5420bd75;
          box-shadow: 1px 1px 8px 1px #5420bd75;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
}

.redes__nav--items img {
  width: 2.8em;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

@media only screen and (min-width: 576px) {
  .redes__nav--items img {
    width: 3em;
  }
}

@media only screen and (min-width: 768px) {
  .redes__nav--items img {
    width: 4em;
  }
}

@media only screen and (min-width: 992px) {
  .redes__nav--items img {
    width: 5em;
  }
}

.redes__nav--items img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.redes__nav--items:hover {
  background: radial-gradient(#BECEFF, #b7c9ff, #BECEFF, #fff);
  -webkit-box-shadow: 2px 3px 8px 2px #5420bd75;
          box-shadow: 2px 3px 8px 2px #5420bd75;
}

.contacto__titulo {
  font-size: 2em;
  margin-top: 2em;
}

@media only screen and (min-width: 576px) {
  .contacto__titulo {
    font-size: 3em;
  }
}

@media only screen and (min-width: 768px) {
  .contacto__titulo {
    font-size: 3.5em;
  }
}

@media only screen and (min-width: 992px) {
  .contacto__titulo {
    font-size: 4em;
  }
}

.contacto .form {
  margin: 0;
}

.contacto .form__caja {
  padding: 0.5em;
  margin: 0.5em;
}

@media only screen and (min-width: 576px) {
  .contacto .form__caja {
    padding: 1em;
    margin: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .contacto .form__caja {
    padding: 1.5em;
    margin: 1.5em;
  }
}

@media only screen and (min-width: 992px) {
  .contacto .form__caja {
    padding: 2em;
    margin: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .contacto .form textarea {
    width: 15em;
    height: 10em;
  }
}

.contacto .mapa {
  margin: 1rem;
  width: 200px;
  height: 300px;
  overflow: hidden;
}

@media only screen and (min-width: 576px) {
  .contacto .mapa {
    width: 250px;
    height: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .contacto .mapa {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .contacto .mapa {
    width: 400px;
    height: 400px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.form__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: radial-gradient(#BECEFF, #9966ffab);
  background-color: #BECEFF;
  padding: 2em;
  margin: 2em;
  text-align: center;
  border-radius: 2em;
  font-size: 1.2rem;
  -webkit-box-shadow: 4px 4px 8px 2px #5420bd75;
          box-shadow: 4px 4px 8px 2px #5420bd75;
}

@media only screen and (min-width: 992px) {
  .form__caja {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form__caja--titulo {
  font-weight: bolder;
}

.boton {
  background-color: #5C43FF;
  border-style: solid;
  border-color: white;
  -webkit-box-shadow: 2px 2px whitesmoke;
          box-shadow: 2px 2px whitesmoke;
  color: white;
  padding: 1em;
  border-radius: 1em;
  font-weight: bolder;
  font-size: 1em;
}

.boton:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #5C43FF;
  padding: 1em;
  border-radius: 1em;
  font-weight: bolder;
  font-size: 1em;
  -webkit-box-shadow: 4px 4px #5C43FF;
          box-shadow: 4px 4px #5C43FF;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: ease-in .5s;
  transition: ease-in .5s;
}
/*# sourceMappingURL=main.css.map */